@model IEnumerable<AccFlex.Models.Gender>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-muted text-center">
    <i class="bi bi-collection"></i>
   Genders
</h1>

<p class="text-right">
    <a asp-action="Create" class="btn btn-outline-success bi-plus-circle"> New </a>
</p>
<hr />

@if (!Model.Any())
{
    <div class="alert alert-warning" role="alert">
        <i class="bi bi-exclamation-triangle"></i>
        Sorry Thers is Nothing to show, back again !
    </div>
}
else
{
    <table class="table table-hover mb-4">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="text-light text-center ">
                    <i class="bi bi-toggle-on"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-center">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ID">
                            <i class="bi bi-pencil "></i>
                        </a> |
                       
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

