@model AccFlex.Models.StudentCourse

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-muted text-center">
    <i class="bi bi-list"></i>
    Details
</h1>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">
        <i class="bi bi-arrow-return-left"></i>
        Back to List
    </a>
</div>
